## load data and preprocess

In [8]:
import pandas as pd
import numpy as np
import tensorflow as tf
import json

In [2]:
dataset_dir = 'dataset/'

loading data

In [4]:
all_text_df = pd.read_json(dataset_dir + 'tweets_DM.json', lines=True)
all_text_df

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

In [7]:
del all_text_df['_index']
del all_text_df['_type']

In [13]:
def scraptext(source):
    return source['tweet']['text']

def scrapid(source):
    return source['tweet']['tweet_id']

all_text_df['text'] = all_text_df['_source'].apply(scraptext)
all_text_df['id'] = all_text_df['_source'].apply(scrapid)
del all_text_df['_source']

,_score,_source,_crawldate,text,id
0,391,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,"People who post ""add me on #Snapchat"" must be ...",0x376b20
1,433,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350
2,232,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,"Confident of your obedience, I write to you, k...",0x28b412
3,376,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0
4,989,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,"""Trust is not the same as faith. A friend is s...",0x2de201
...,...,...,...,...,...
1867530,827,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,When you buy the last 2 tickets remaining for ...,0x316b80
1867531,368,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,I swear all this hard work gone pay off one da...,0x29d0cb
1867532,498,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,@Parcel2Go no card left when I wasn't in so I ...,0x2a6a4f
1867533,840,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,"Ah, corporate life, where you can date <LH> us...",0x24faed
1867534,360,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,Blessed to be living #Sundayvibes <LH>,0x34be8c

loading the train/test split

In [20]:
split = pd.read_csv(dataset_dir + 'data_identification.csv').set_index('tweet_id')['identification'].to_dict()
split['0x28cc61']

'test'

In [29]:
all_text_df['split'] = all_text_df['id'].map(split)
all_text_df

,_score,_source,_crawldate,text,id,split
0,391,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,"People who post ""add me on #Snapchat"" must be ...",0x376b20,train
1,433,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,train
2,232,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,"Confident of your obedience, I write to you, k...",0x28b412,test
3,376,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,train
4,989,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,"""Trust is not the same as faith. A friend is s...",0x2de201,test
...,...,...,...,...,...,...
1867530,827,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,When you buy the last 2 tickets remaining for ...,0x316b80,test
1867531,368,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,I swear all this hard work gone pay off one da...,0x29d0cb,test
1867532,498,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,@Parcel2Go no card left when I wasn't in so I ...,0x2a6a4f,test
1867533,840,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,"Ah, corporate life, where you can date <LH> us...",0x24faed,train
1867534,360,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,Blessed to be living #Sundayvibes <LH>,0x34be8c,train

In [31]:
train_df = all_text_df[all_text_df['split'] == 'train']
test_df = all_text_df[all_text_df['split'] == 'test']
del all_text_df
del train_df['split']
del test_df['split']
print(f'training samples: {len(train_df)}')
print(f'testing samples: {len(test_df)}')

training samples: 1455563
testing samples: 411972

then we append the label to the train df

In [32]:
labels = pd.read_csv(dataset_dir + 'emotion.csv').set_index('tweet_id')['emotion'].to_dict()
train_df['emotion'] = train_df['id'].map(labels)
train_df

C:\Users\User\AppData\Local\Temp\ipykernel_20224\3827275369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['emotion'] = train_df['id'].map(labels)

,_score,_source,_crawldate,text,id,split,emotion
0,391,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,"People who post ""add me on #Snapchat"" must be ...",0x376b20,train,anticipation
1,433,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,train,sadness
3,376,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,train,fear
5,120,"{'tweet': {'hashtags': ['authentic', 'LaughOut...",2015-06-11 04:44:05,@RISKshow @TheKevinAllison Thx for the BEST TI...,0x1d755c,train,joy
6,1021,"{'tweet': {'hashtags': [], 'tweet_id': '0x2c91...",2015-08-18 02:30:07,Still waiting on those supplies Liscus. <LH>,0x2c91a8,train,anticipation
...,...,...,...,...,...,...,...
1867526,94,"{'tweet': {'hashtags': ['NoWonder', 'Happy'], ...",2016-12-26 02:44:07,I'm SO HAPPY!!! #NoWonder the name of this sho...,0x321566,train,joy
1867527,627,"{'tweet': {'hashtags': [], 'tweet_id': '0x3895...",2015-04-01 08:14:56,In every circumtance I'd like to be thankful t...,0x38959e,train,joy
1867528,274,"{'tweet': {'hashtags': ['blessyou'], 'tweet_id...",2016-11-17 23:46:22,there's currently two girls walking around the...,0x2cbca6,train,joy
1867533,840,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,"Ah, corporate life, where you can date <LH> us...",0x24faed,train,joy
1867534,360,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,Blessed to be living #Sundayvibes <LH>,0x34be8c,train,joy

## classification

attempt 1 is w2v + mlp, should be easy enough.

In [33]:
import gensim
import nltk

In [34]:
train_df['text_tokenized'] = train_df['text'].apply(lambda x: nltk.word_tokenize(x))
training_corpus = train_df['text_tokenized'].values

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\User/nltk_data'
    - 'C:\\Users\\User\\anaconda3\\envs\\data-mining_20241104\\nltk_data'
    - 'C:\\Users\\User\\anaconda3\\envs\\data-mining_20241104\\share\\nltk_data'
    - 'C:\\Users\\User\\anaconda3\\envs\\data-mining_20241104\\lib\\nltk_data'
    - 'C:\\Users\\User\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

attempt 2 is llama embeddings + linear layers, if I have time for it.